/*CSS DOCUMENT */


body {
	background-color: #fafafa;
	color: #333333;
	font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0em 0em 0.5em 0em; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-size: 25pt; 
	font-weight: bold;
}

h2 {
	font-size: 17pt; 
	font-weight: normal;
}

h3 {
	font-size: 15pt; 
	font-weight: normal;
}
figcaption{
	font-size: 10pt; 
	font-weight: normal;

}
